{% extends 'student/base.html' %}
{% block content %}

<style>
    .modal-dialog {
  width: 100%;
  margin: 1;
  padding: 0;
}

.modal-content {
  height: auto;
  border-radius: 0;
}
section {
  width: 50%;
  min-height: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}

section::before,
section::after {
  content: "";
  display: block;

  border-radius: 100%;

  position: absolute;
}


.light {
  --primary: hsl(250, 100%, 44%);
  --other: hsl(0, 0%, 14%);

  background: hsl(0, 0%, 98%);
}

.dark {
  --primary: hsl(1, 100%, 68%);
  --other: hsl(0, 0%, 90%);

  background: hsl(0, 0%, 10%);
}


/* h1 */
h1 {
  color: var(--other);
  padding: 8px 4px;
  border-bottom: 2px solid var(--other);
}


/* label */
label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  margin: 12px 0;

  cursor: pointer;
  position: relative;
}


/* input */
input {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


/* .design */
.design {
  width: 16px;
  height: 16px;

  border: 1px solid var(--other);
  border-radius: 100%;
  margin-right: 16px;

  position: relative;
}

.design::before,
.design::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;

  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}

.design:before {
  background: var(--other);
  opacity: 0;
  transition: .3s;
}

.design::after {
  background: var(--primary);
  opacity: .4;
  transition: .6s;
}


/* .text */
.text {
  color: var(--other);
  font-weight: bold;
}


/* checked state */
input:checked+.design::before {
  opacity: 1;
  transform: scale(.6);
}


/* other states */
input:hover+.design,
input:focus+.design {
  border: 1px solid var(--primary);
}

input:hover+.design:before,
input:focus+.design:before {
  background: var(--primary);
}

input:hover~.text {
  color: var(--primary);
}

input:focus+.design::after,
input:active+.design::after {
  opacity: .1;
  transform: scale(2.6);
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  background: hsla(0, 0%, 98%, .6);
  font-size: 16px;
}   
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="page-title-box">
                <h4 class="page-title">Tasks</h4>
            </div>
        </div>
            <div class="col-12 col-lg-6 p-3">
            <h6 class=" float-right">Last edited by {{editor.editor}} at {% for mode, value in time_dict.items %}{{value}} {{mode}} {% endfor %} ago</h6>
            </div>
    </div>
    
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!-- Checkout Steps -->
                <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                    <li class="nav-item">
                        <a href="#personal-development-questions" data-toggle="tab" aria-expanded="false"
                            class="nav-link rounded-0 active">
                            <i class="mdi mdi-account-circle font-18"></i>
                            <span class="d-none d-lg-block">Personal Development</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#technical-questions" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0">
                            <i class="mdi mdi-laptop font-18"></i>
                            <span class="d-none d-lg-block">Technical Tasks</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#miscelleneous-task-questions" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                            <i class="mdi mdi-more font-18"></i>
                            <span class="d-none d-lg-block">Miscelleneuos Tasks</span>
                        </a>
                    </li>
                </ul>

                <!-- Steps Information -->
                <div class="tab-content">

                    <!-- Billing Content-->
                    <div class="tab-pane show active" id="personal-development-questions">
                      
                    </div>
                    <!-- Shipping Content-->
                    <div class="tab-pane" id="technical-questions">

                    </div>
                    <!-- End Shipping Information Content-->

                    <!-- Payment Content-->
                    <div class="tab-pane" id="miscelleneous-task-questions">
                      
                    </div>
                    <!-- End Payment Information Content-->

                </div> <!-- end tab content-->

            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
    
<div id="edit-answer" data-controls-modal="full-width-modal" data-backdrop="static" data-keyboard="false" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-full-width">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="fullWidthModalLabel">Edit the Task</h4>
      </div>
      <div class="modal-body" id="edit-answer-modal">
      </div>
      <div class="tab-content" id="edit-answer-task-buttons">
        
      </div>
    </div>
  </div>
</div>
<div id="answer" data-controls-modal="answer" data-backdrop="static" data-keyboard="false" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-width">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="fullWidthModalLabel">Edit the Task</h4>
        </div>
        <div class="modal-body" id="task-modal">
        </div>
        <div class="tab-content" id="task-buttons">
          
        </div>
      </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <!-- <button class="btn btn-lg font-16 btn-danger btn-block" type="button" id="submit">Submit</button> -->
    
    <script>
        function htmlDecode(input){
  var e = document.createElement('div');
  e.innerHTML = input;
  return e.childNodes[0].nodeValue;
}
var count = 0;
var taskidid;
function answerModal(taskid){
  taskidid = taskid;
    if (count == 0){
    var div = $('<div>').appendTo($("#task-modal"));
        div.summernote().addClass('summernote');
        count++;
    }
}
var typ;
function submit(){
      var answerValue = $('.summernote').summernote('code')
      var data = {
        'csrfmiddlewaretoken' : '{{csrf_token}}',
        'answer' : answerValue,
        'taskid' : taskidid
      }
      if(answerValue.length < 15){
        $('#erroranswer').html('Please input valid answer')
      }
      else{
        $.ajax({
          url : '/task-specific/'+taskidid+'/',
          method : 'POST',
          data : data,
          dataType : 'json',
          success : function(data){
            if(data == 'true')
            {
              window.location.reload()
            }

          }
        })
      }
}
var editCount =0 ;
var typeOfTask, a;
function edit(id, typ){
   a=id
   typeOfTask = typ;
   $("#edit-answer-modal").html($('<div>')).summernote().addClass('editSummernote');
  
    if (typ == 'Miscelleneous Task'){
    let val3 = miscelleneousAnswer[id]
    let editText =  $(".editSummernote").summernote("code", val3);
}   
  if (typ == 'Personal Development'){
    let val1 = personalAnswer[id]
    let editText =  $(".editSummernote").summernote("code", val1);
}     
if (typ == 'Technical Task'){
    let val2 = technicalanswer[id]
    let editText =  $(".editSummernote").summernote("code", val2);
}   
}

function editSubmit(){
  var editAreaValue = $('.editSummernote').summernote('code')
  let token = '{{csrf_token}}';
  var data = {
    'csrfmiddlewaretoken' : '{{csrf_token}}',
    'answer' : editAreaValue,
    'typeOfTask' : typeOfTask
  }
  if(editAreaValue.length < 15){
    $('#editerror').html('Please enter proper answer')
  }
  else{
    $.ajax({
      headers: { "X-CSRFToken": token },
      url : '/task-specific/edit-answer/'+a+'/',
      type : 'POST',
      data : data,
      dataType : 'json',
      success : function(data){
        if(data == 'true'){
          window.location.reload()
        }
        }
    })
  }
}

        var button1 = 0;

        var personalAnswer = {{personal_answers|safe}}

        personalQuestions = {{personal_tasks|safe}}
        for(var persid in personalQuestions){
        var personaltype = 'Personal Development';
        if(personalAnswer[persid] == undefined){
        $('#personal-development-questions').append('<hr style="border-top: 1px dashed red;"><div class="float-right">', '<i onclick="answerModal('+persid+')" style="font-size: 1.5em; color: green" data-toggle = "modal" data-target="#answer" class="dripicons-article ml-2 float-right"></i>')
        }
        else{
          console.log('answer');
      }
      $('#personal-development-questions').append(personalQuestions[persid])
          if(personalAnswer[persid] != undefined){
            
          $('#personal-development-questions').append('<hr style="border-top: 1px dashed secondary;">', '<div class="float-right"><i style="font-size: 1.5em; color: #ffbc00" data-toggle = "modal" data-target="#edit-answer" onclick = "edit('+persid+',personaltype)" class="dripicons-document-edit ml-2"></i><a href="/task-specific/delete-answer/'+persid+'/"><i data-toggle="modal" data-target="#danger-alert-modal" style="font-size: 1.5em; color: red; float:right;" class="dripicons-document-delete  ml-2"></i></a></div>', personalAnswer[persid])
        
      }
     
          if(button1 == 0){
          $('#task-buttons').append('<button style="margin-bottom:3rem;" class=" btn btn-danger float-right m-1" id="submitBtn"  class="btn btn-lg font-16 btn-danger btn-block" value="Submit" id="submit" onclick="submit()" ><i class="mdi mdi-plus-circle-outline"></i>Submit</button><button  class="btn btn-info float-right m-1 "style="margin-bottom:3rem;" data-dismiss="modal" class=" btn btn-lg font-16 btn-danger btn-block" value="Cancel" id="cancel" ><i class="mdi mdi-plus-circle-outline"></i>Cancel</button><span id="erroranswer" style="color:  red;"></span>')
          $('#edit-answer-task-buttons').append('<button style="margin-bottom:3rem;" class=" btn btn-danger float-right m-1" id="editSubmit"  class="btn btn-lg font-16 btn-danger btn-block" value="Submit" id="submit" onclick="editSubmit()" ><i class="mdi mdi-plus-circle-outline"></i>Submit</button><button  class="btn btn-info float-right m-1 "style="margin-bottom:3rem;" data-dismiss="modal" class=" btn btn-lg font-16 btn-danger btn-block" value="Cancel" id="cancel" ><i class="mdi mdi-plus-circle-outline"></i>Cancel</button><span id="erroranswer" style="color:  red;"></span>')
          button1++;
          }
        }
      
        var technicalanswer = {{technical_answers|safe}}

        technicalQuestions = {{technical_tasks|safe}}
        for(var techid in technicalQuestions){
        var technicaltype = 'Technical Task';
        if(technicalanswer[techid] == undefined){
        $('#technical-questions').append('<hr style="border-top: 1px dashed red;"><div class="float-right">', '<i onclick="answerModal('+techid+')" style="font-size: 1.5em; color: green" data-toggle = "modal" data-target="#answer" class="dripicons-article ml-2 float-right"></i>')
        }
        else{
          console.log('answer');
      }
      $('#technical-questions').append(technicalQuestions[techid])

        if(technicalanswer[techid] != undefined){
          $('#technical-questions').append('<hr style="border-top: 1px dashed secondary;">', '<div class="float-right"><i style="font-size: 1.5em; color: #ffbc00" data-toggle = "modal" data-target="#edit-answer" onclick = "edit('+techid+',technicaltype)" class="dripicons-document-edit ml-2"></i><i data-toggle="modal" data-target="#danger-alert-modal" style="font-size: 1.5em; color: red; float:right;" class="dripicons-document-delete  ml-2"></i></div>', technicalanswer[techid])
        }
        else{
          $('#technical-questions').append('')
        }
          if( button1 == 0){
          $('#task-buttons').append('<button style="margin-bottom:3rem;" class=" btn btn-danger float-right m-1" id="submitBtn"  class="btn btn-lg font-16 btn-danger btn-block" value="Submit" id="submit" onclick="submit()" ><i class="mdi mdi-plus-circle-outline"></i>Submit</button><button  class="btn btn-info float-right m-1 "style="margin-bottom:3rem;" data-dismiss="modal" class=" btn btn-lg font-16 btn-danger btn-block" value="Cancel" id="cancel" ><i class="mdi mdi-plus-circle-outline"></i>Cancel</button><span id="erroranswer" style="color:  red;"></span>')
          button1++;
          }
        }

        
        var miscelleneousAnswer = {{miscelleneous_answers|safe}}

        miscelleneousQuestions = {{miscelleneous_tasks|safe}}
        for(var miscid in miscelleneousQuestions){
        var miscelleneoustype = 'Miscelleneous Task';
        if(miscelleneousAnswer[miscid] == undefined){
          $('#miscelleneous-task-questions').append('<hr style="border-top: 1px dashed red;"><div class="float-right">', '<i onclick="answerModal('+miscid+')" style="font-size: 1.5em; color: green" data-toggle = "modal" data-target="#answer" class="dripicons-article ml-2 float-right"></i>')
        }
        else{
        console.log('hellloo');
      }
      $('#miscelleneous-task-questions').append(miscelleneousQuestions[miscid])

          if(miscelleneousAnswer[miscid] != undefined){
          $('#miscelleneous-task-questions').append('<hr style="border-top: 1px dashed secondary;">', '<div class="float-right"><i style="font-size: 1.5em; color: #ffbc00" data-toggle = "modal" data-target="#edit-answer"  onclick = "edit('+miscid+', miscelleneoustype)" class="dripicons-document-edit ml-2"></i><i data-toggle="modal" data-target="#danger-alert-modal" style="font-size: 1.5em; color: red; float:right;" class="dripicons-document-delete  ml-2"></i></div>', miscelleneousAnswer[miscid])
        }
        else{
          $('#miscelleneous-task-questions').append('')
        }
          if(button1 == 0){
          $('#task-buttons').append('<button style="margin-bottom:3rem;" class=" btn btn-danger float-right m-1" id="submitBtn"  class="btn btn-lg font-16 btn-danger btn-block" value="Submit" id="submit" onclick="submit()" ><i class="mdi mdi-plus-circle-outline"></i>Submit</button><button  class="btn btn-info float-right m-1 "style="margin-bottom:3rem;" data-dismiss="modal" class=" btn btn-lg font-16 btn-danger btn-block" value="Cancel" id="cancel" ><i class="mdi mdi-plus-circle-outline"></i>Cancel</button><span id="erroranswer" style="color:  red;"></span>')
          button1 ++;
          }
        }
        
    </script>
{% endblock %}