{% extends 'admin/base.html' %}
{% block content %}
{% load static %}
                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    
                                    <h4 class="page-title">Dashboard</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-12">
                                <div class="card widget-inline">
                                    <div class="card-body p-0">
                                        <div class="row no-gutters">
                                            <div class="col-sm-6 col-xl-3">
                                                <div class="card shadow-none m-0">
                                                    <div class="card-body text-center">
                                                        <i class="dripicons-user-group text-muted" style="font-size: 24px;"></i>
                                                        <h3><span>{{students|length}}</span></h3>
                                                        <p class="text-muted font-15 mb-0">Students</p>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-xl-3">
                                                <div class="card shadow-none m-0 border-left">
                                                    <div class="card-body text-center">
                                                        <i class="dripicons-user-group text-muted" style="font-size: 24px;"></i>
                                                        <h3><span>{{coordinators|length}}</span></h3>
                                                        <p class="text-muted font-15 mb-0">Coordinators</p>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-xl-3">
                                                <div class="card shadow-none m-0 border-left">
                                                    <div class="card-body text-center">
                                                        <i class="dripicons-graduation text-muted" style="font-size: 24px;"></i>
                                                        <h3><span>{{batches|length}}</span></h3>
                                                        <p class="text-muted font-15 mb-0">Batches</p>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-xl-3">
                                                <div class="card shadow-none m-0 border-left">
                                                    <div class="card-body text-center">
                                                        <i class="dripicons-graph-line text-muted" style="font-size: 24px;"></i>
                                                        <h3><span>93%</span> <i class="mdi mdi-arrow-up text-success"></i></h3>
                                                        <p class="text-muted font-15 mb-0">Productivity</p>
                                                    </div>
                                                </div>
                                            </div>
                
                                        </div> <!-- end row -->
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->



                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <h4 class="header-title mb-3">Students</h4>

                                        <div class="table-responsive">
                                            <table class="table table-centered table-nowrap table-hover mb-0">
                                                <tbody>
                                                    {% for student in students %}
                                                    <tr class="mt-1">
                                                        <td >
                                                            <div class="media">
                                                                <img class="mr-2 rounded-circle" src="{{student.student_photo}}" width="40" alt="Generic placeholder image">
                                                                <div class="media-body">
                                                                    <h5 class="mt-2 mb-1">{{student.fullname}}</h5>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Batch</span> <br/>
                                                            <p class="mb-0">{{student.batch.name}}</p>
                                                        </td>
                                                       
                                                    </tr>
                                                    {% endfor %}

                                                    
                                                    
                                                </tbody>
                                            </table>
                                        </div> <!-- end table-responsive-->

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->

                            <div class="col-xl-6 col-12 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <h4 class="header-title mb-3">Staffs</h4>

                                        <div class="table-responsive">
                                            <table class="table table-centered table-nowrap table-hover mb-0">
                                                <tbody>
                                                    {% for coordinator in coordinators %}
                                                    <tr>
                                                        <td>
                                                            <div class="media">
                                                                <img class="mr-2 rounded-circle" src="{{coordinator.ImageURL}}" width="40" alt="Generic placeholder image">
                                                                <div class="media-body">
                                                                    <h5 class="mt-2 mb-1">{{coordinator.name}}</h5>
                                                                </div>
                                                            </div>
                                                        </td>
                                                       
                                                    </tr>
                                                    {% endfor %}
                                                   
                                                    
                                                </tbody>
                                            </table>
                                        </div> 
                                        <!-- end row -->

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->

                        </div>
                        <!-- end row-->

                        
                    </div> <!-- container -->

                </div> <!-- content -->

                
            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
{% endblock %}