{% extends 'admin/base.html' %}
{% block content %}
<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
                <h2 class="mb-3">School of Practical Studies!</h2>


                <!-- form -->
                <form action="#">
                    
                    <img src="{{ coordinator_details.ImageURL }}" class="mb-3 rounded-circle avatar-lg img-thumbnail"
                    alt="profile-image">
                    
                    <div class="form-group">
                        <label for="fullname">Full Name</label>
                        <input class="form-control" type="text" value="{{coordinator_details.name}}" id="fullname" placeholder="Enter the name" required>
                        <span id="errorname" style="color: red; text-align: center;"></span>

                    </div>
                    <div class="form-group">
                        <label for="emailaddress">Email address</label>
                        <input class="form-control" type="email" value="{{coordinator_details.email}}" id="email" required placeholder="Enter the email">
                        <span id="erroremail" style="color: red; text-align: center;"></span>

                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input class="form-control" type="number" value="{{coordinator_details.phone}}" required id="phone" placeholder="Enter the Mobile Number">
                        <span id="errorphone" style="color: red; text-align: center;"></span>

                    </div>
                  
                    <!-- social-->
                  
                </form>
               

            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
               

                <!-- title-->
               
                <!-- form -->
                <form action="#">
                    
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input class="form-control" type="number" value="{{coordinator_details.age}}" required id="age" placeholder="Enter the Age">
                        <span id="errorage" style="color: red; text-align: center;"></span>

                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control" value="{{coordinator_details.gender}}" name="gender" id="gender">
                            <option value="choose...">choose...</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    
                        <span id="errorgender" style="color: red; text-align: center;"></span>
                    </div>
                    <div class="form-group">
                        <label for="father">Father's Name</label>
                        <input class="form-control" value="{{coordinator_details.father}}" type="text" id="father" required placeholder="Enter your Father's name">
                        <span id="errorfather" style="color: red; text-align: center;"></span>

                    </div>
                    <div class="form-group">
                        <label for="mother">Mother's Name</label>
                        <input class="form-control" type="text" value="{{coordinator_details.mother}}" required id="mother" placeholder="Enter your Mother's name">
                        <span id="errormother" style="color: red; text-align: center;"></span>

                    </div>
                  
                    <!-- social-->
                  
                </form>
                <!-- end form-->

                <!-- Footer-->
               

            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
               

                <!-- title-->
              
                <!-- form -->
                <form action="#">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="domain">Salary</label>
                            <input class="form-control" type="number" value="{{coordinator_details.salary}}" id="salary" placeholder="Enter the Salary" required>
                            <span id="errorsalary" style="color: red; text-align: center;"></span>
    
                        </div>
                        <label for="fullname">Address</label>
                        <input class="form-control" value="{{coordinator_details.address}}" style="height: 5rem;" type="textarea" id="address" placeholder="Enter your Address" required>
                        <span id="erroraddress" style="color: red; text-align: center;"></span>

                    </div>
                    <div class="form-group">
                        <label for="education">Educational Qualification</label>
                        <input class="form-control" value="{{coordinator_details.education}}" type="text" id="education" required placeholder="Your Educational Qualification">
                        <span id="erroreducation" style="color: red; text-align: center;"></span>

                    </div>
                    <!-- <div class="form-group">
                        <label for="photo">Photo</label>
                        <input class="form-control" type="file" name="photo" accept="image/*" id="photo" placeholder="Choose your Photo">
                        <span id="errorphoto" style="color: red; text-align: center;"></span>
                    </div> -->
                    <!-- <div class="form-group">
                        <label for="username">username</label>
                        <input class="form-control" value="{{coordinator_details.username}}" type="text" required id="username" placeholder="Enter your username">
                        <span id="errorusername" style="color: red; text-align: center;"></span>

                    </div>
                    
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" required id="password" placeholder="Enter the Password">
                        <span id="errorpassword" style="color: red; text-align: center;"></span>

                    </div> -->
                  
                    <!-- social-->
                  
                </form>
                <!-- end form-->

                <!-- Footer-->
                <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary btn-block" type="submit" id="save"><i class="mdi mdi-login"></i> save </button>
                </div>

            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    
   
</div>
<!-- end auth-fluid-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>

<script>
    $('#save').click(function(){
        var formData = new FormData();
        formData.append("fullname", document.getElementById("fullname").value);
        formData.append("email", document.getElementById("email").value);
        formData.append("phone", document.getElementById("phone").value);
        formData.append("salary", document.getElementById("salary").value);
        formData.append("age", document.getElementById("age").value);
        // formData.append("dob", document.getElementById("dob").value);
        formData.append("gender", document.getElementById("gender").value);
        formData.append("address", document.getElementById("address").value);
        formData.append("father", document.getElementById("father").value);
        formData.append("mother", document.getElementById("mother").value);
        formData.append("education", document.getElementById("education").value);
        // formData.append("photo", document.getElementById("photo").files[0]);
        // formData.append("username", document.getElementById("username").value);
        // formData.append("password", document.getElementById("password").value);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        
        let error = false
        // if(name == ''){
        //     $('#errorname').html('Please enter the Name')
        //     error = true
        // }
        // else{
        //     $('#errorname').html('')
        // }
        if (email == ''){  
            $('#erroremail').html('Please enter valid email')
            error = true
        }  
        else{
            $('#erroremail').html('')
        }
        // if (phone.length != 10){
        //     $('#errorphone').html('Please enter proper phone number')
        //     error = true
        // }
        // else{
        //     $('#errorphone').html('')
        // }
        if (salary == ''){
            $('#errorsalary').html('Salary required')
            error = true
        }
        else{
            $('#errorsalary').html('')
        }
        if(age == ''){
            $('#errorage').html('Age required')
            error = true
        }
        else{
            $('#errorage').html('')
        }
        // if(dob == ''){
        //     $("#errordob").html('DOB required')
        //     error = true
        // }
        // else{
        //     $('#errordob').html('')
        // }
        if(gender == 'choose...'){
            $('#errorgender').html('Gender required')
            error = true
        }
        else{
            $('#errorgender').html('')
        }
        if(address == ''){
            $('#erroraddress').html('Address required')
            error = true
        }
        else{
            $('#erroraddress').html('')
        }
        if(father == '')
        {
            $('#errorfather').html('Father name required')
            error = true
        }
        else{
            $('#errorfather').html('')
        }
        if(mother == ''){
            $('#errormother').html('Mother name required')
            error = true
        }
        else{
            $('#errormother').html('')
        }
        if(education == ''){
            $('#erroreducation').html('Enter your educational qualification')
            error = true
        }
        else{
            $('#erroreducation').html('')
        }
        // if(photo == ''){
        //     $('#errorphoto').html('Please choose any of the photo')
        //     error = true
        // }
        // else{
        //     $('#errorphoto').html('')
        // }
        // if(username.length < 4 || username.length > 10){
        //     $('#errorusername').html('number of letters must between 4 and 10')
        //     error = true
        // }
        // else{
        //     $('#errorusername').html('')
        // }
        // if(password.length < 4 || password.length > 10){
        //     $('#errorpassword').html('number of letters must between 4 and 10')
        // }
        // else{
        //     $('#errorpassword').html('')
        // }
        $.ajax({
                url : '/spsadmin/edit-coordinator/{{coordinator_details.id}}/',
                method : 'POST',
                data : formData,
                cache : false,
                contentType : false,
                processData : false,
                dataType : 'json',
                success : function(data){
                    if (data == 'true'){
                        window.location.replace('/spsadmin/staffs/')
                    }
                    if (data == 'false'){
                        $('#error').html('Invalid Credentials')
                    }
                }
            })
        })
</script>
{% endblock %}