{% extends 'admin/base.html' %}
{% block content %}
{% load static %}
 <!-- Start Content-->
 <div class="container-fluid">
                        
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                
                <h4 class="page-title">{{student.fullname}}</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 
    
<div class="row">
    <!-- start user detail -->
    <div class="col-xl-4 col-lg-5">
        <div class="card">
            <div class="card-body">
                

                <div class="mt-3 text-center">
                    <img src="{{student.student_photo}}" alt="{{student.username}}"
                        class="img-thumbnail avatar-lg rounded-circle" />
                    <h4>{{student.username}}</h4>
                    <div class="row" style="display: inline-flex; margin: auto;">
                    <i class="dripicons-graduation mt-1 mr-1"></i> <h5 class="text-bold text-center">{{student.batch.name}}</h5>
                </div>
                    <p class="text-muted mt-2 font-14">Last Interacted: <strong>Few hours back</strong></p>
                </div>

                <div class="mt-3">
                    <hr class="" />

                    <p class="mt-4 mb-1"><strong><i class='uil uil-at'></i> Email:</strong></p>
                    <p>{{student.email}}</p>

                    <p class="mt-3 mb-1"><strong><i class='uil uil-phone'></i> Phone Number:</strong></p>
                    <p>{{student.phone}}</p>

                    <p class="mt-3 mb-1"><strong><i class='uil uil-location'></i> Location:</strong></p>
                    <p>{{student.address}}</p>

                    <p class="mt-3 mb-1"><strong><i class='uil uil-globe'></i> Languages:</strong></p>
                    <p>English, German, Spanish</p>

                    <p class="mt-3 mb-2"><strong><i class='uil uil-users-alt'></i> Groups:</strong></p>
                    <p>
                        <span class="badge badge-success-lighten p-1 font-14">Work</span>
                        <span class="badge badge-primary-lighten p-1 font-14">Friends</span>
                    </p>
                </div>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->
    {% if student.admin_approval != 'pending' or student.admin_approval != 'rejected' or student.admin_approval == 'invalid' %}
    <div class="col-xl-8 col-lg-7">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                    
                   
                    <li class="nav-item">
                        <a href="#review" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
                            Review
                        </a>
                    </li>
                    
                </ul>
                <div class="tab-content">
                    <!-- end about me section content -->

                    

                    <div class="tab-pane show active" id="review">
                        {% for week in weeks %}
                        <div class="col-sm-6 col-xl-3 float-left ">
                            <div class="card shadow-none m-0">
                                <div class="card-body text-center">
                                    <a {% if week.is_review != True %} data-target="#review-specific"  onclick="week('{{week.id}}', '{{week.week}}')" data-toggle="modal" {% endif %}{% if week.is_review == True %} data-target="#review-done-{{week.id}}" data-toggle="modal" {% endif %}><i class="dripicons-folder text-muted" style="font-size: 24px;"></i>
                                        <p class=" font-15 mb-0">Week {{week.week}}</p></a>
                                        <h6 class="text-center" {% if week.is_review == True %} id="student-description-{{week.week}}" {% endif %} >{% if week.is_review != True %} To be Conduct {% endif %}</h6>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    </div>

                </div> <!-- end tab-content -->
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
    {% endif %}
</div>
 </div>

 <script>
     {% for review in review %}
     document.getElementById('week-name-{{review.week.week}}').style.color = '{{review.color.color}}'
     document.getElementById('student-description-{{review.week.week}}').append('{{review.color.description}}')
     document.getElementById('student-description-{{review.week.week}}').style.color = '{{review.color.color}}'
     
     {% endfor %}
 </script>
{% endblock %}