{% extends 'admin/base.html' %}
{% block content %}
{% load static %}
<style>
    .modal-dialog {
  width: 100%;
  margin: 1;
  padding: 0;
}

.modal-content {
  height: auto;
  border-radius: 0;
}
section {
  width: 50%;
  min-height: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}

section::before,
section::after {
  content: "";
  display: block;

  border-radius: 100%;

  position: absolute;
}


.light {
  --primary: hsl(250, 100%, 44%);
  --other: hsl(0, 0%, 14%);

  background: hsl(0, 0%, 98%);
}

.dark {
  --primary: hsl(1, 100%, 68%);
  --other: hsl(0, 0%, 90%);

  background: hsl(0, 0%, 10%);
}


/* h1 */
h1 {
  color: var(--other);
  padding: 8px 4px;
  border-bottom: 2px solid var(--other);
}


/* label */
label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  margin: 12px 0;

  cursor: pointer;
  position: relative;
}


/* input */
input {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


/* .design */
.design {
  width: 16px;
  height: 16px;

  border: 1px solid var(--other);
  border-radius: 100%;
  margin-right: 16px;

  position: relative;
}

.design::before,
.design::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;

  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}

.design:before {
  background: var(--other);
  opacity: 0;
  transition: .3s;
}

.design::after {
  background: var(--primary);
  opacity: .4;
  transition: .6s;
}


/* .text */
.text {
  color: var(--other);
  font-weight: bold;
}


/* checked state */
input:checked+.design::before {
  opacity: 1;
  transform: scale(.6);
}


/* other states */
input:hover+.design,
input:focus+.design {
  border: 1px solid var(--primary);
}

input:hover+.design:before,
input:focus+.design:before {
  background: var(--primary);
}

input:hover~.text {
  color: var(--primary);
}

input:focus+.design::after,
input:active+.design::after {
  opacity: .1;
  transform: scale(2.6);
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  background: hsla(0, 0%, 98%, .6);
  font-size: 16px;
}   
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                
                <h4 class="page-title">Tasks</h4>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="card card-body col-lg-12">
                <div class="row">
                <div class="col-lg-3 col-12 col-md-4 mt-1">
                    <button data-target="#questionModal" class="btn btn-danger" data-toggle="modal" class="btn btn-lg font-16 btn-danger btn-block" value="Create new Question" id="createQuestion" ><i class="mdi mdi-plus-circle-outline"></i> Create New Question</button>
                   
                
                    <!-- Modal -->
                    <div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Close</h4>
                                    </div>
                                    <div class="modal-body">
                                        
<section class="light" style="align-items: flex-start;">

  
    <label>
      <input type="radio" value="1" id="task"  name="task" checked >
      <span class="design"></span>
      <span class="text">Personal Development Task</span>
    </label>
  
    <label>
      <input type="radio" value="2" id="task" name="task">
      <span class="design"></span>
      <span class="text">Technical Task</span>
    </label>
  
    <label>
      <input type="radio" value="3" id="task" name="task">
      <span class="design"></span>
      <span class="text">Miscelleneuos Task</span>
    </label>
  
  </section>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="select">Select</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-3 col-12 col-md-4 mt-1">
                    <button class="btn btn-lg font-16 btn-danger btn-block " id="btn-new-event"><i class="mdi mdi-plus-circle-outline"></i> Create New Event</button>
                </div>
                <div class="col-lg-3 col-12 col-md-4 mt-1">
                    <button class="btn btn-lg font-16 btn-danger btn-block" id="btn-new-event"><i class="mdi mdi-plus-circle-outline"></i> Create New Event</button>
                </div>
                <div class="col-lg-3 col-12 col-md-4 mt-1">
                    <button class="btn btn-lg font-16 btn-danger btn-block" id="btn-new-event"><i class="mdi mdi-plus-circle-outline"></i> Create New Event</button>
                </div>
            </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane show active" id="basic-preview">
                <!-- basic summernote-->
               
                <!-- <div id="summernote"></div>    -->
            
            </div>
        </div>
        

    </div>
    <button class="btn btn-lg font-16 btn-danger btn-block" type="button" id="submit">Submit</button>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script>
    $('#select').click(function(){
        console.log('hello');
        var ele = document.getElementsByName('task'); 
        for(i = 0; i < ele.length; i++) { 
                if(ele[i].checked) 
                console.log(i);
            } 
    })
</script>
<script>
//    $('#submit').click(function(){
//         console.log('hello');
//         var textareaValue = $('.hello').summernote('code');
// //         console.log(textareaValue);
//     })
     $(function () {
  $("#select").on('click', function () {
//         // A new div is being created.
       var div = $('<div>').appendTo($("#basic-preview"));

//         // Attach the summernote widget to it.
        div.summernote().addClass('hello');
    });
 });
 </script>
    <!-- var HightlightButton = function(context) {
  var ui = $.summernote.ui;
  var button = ui.button({
    contents: '<i class="fa fa-pencil"/> Highlight3',
    tooltip: 'Highlight text with red color',
    click: function() {
      context.invoke('editor.foreColor', 'red');
    }
  });

  return button.render();
}

$(document).ready(function() {
  $('#summernote').summernote({
    toolbar: [
      ['style', ['highlight', 'bold', 'italic', 'underline', 'clear']],
      ['font', ['strikethrough', 'superscript', 'subscript']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['view', ['codeview']]
    ],
    buttons: {
      highlight: HightlightButton,
    }
  });
}); -->
{% endblock %}